## Loading data

In [17]:
import sqlite3
import pandas as pd
import numpy as np
import json
import datetime as dt
import matplotlib.pyplot as plt
from IPython.display import display

In [5]:
conn = sqlite3.connect('sqlite.db')
df = pd.read_sql_query("SELECT * FROM 'exec';", conn)

In [20]:
display(df.head())

,ts,exe,pid,ppid,path,docker,depth,rates,rates1,rates5
0,0.690,sh,28531,1158,/bin/sh,None,-1,"{""1"": 1.0, ""5"": 0.2}",1.0,0.2
1,0.696,lpstat,28532,28531,/usr/bin/lpstat,None,-1,"{""1"": 2.0, ""5"": 0.4}",2.0,0.4
2,0.701,sed,28533,28531,/bin/sed,None,-1,"{""1"": 3.0, ""5"": 0.6}",3.0,0.6
3,1.704,sh,28534,1158,/bin/sh,None,-1,"{""1"": 1.0, ""5"": 0.8}",1.0,0.8
4,1.711,sed,28536,28534,sed,None,-1,"{""1"": 2.0, ""5"": 1.0}",2.0,1.0

In [19]:
df['rates1'] = np.nan
df['rates5'] = np.nan
for it in enumerate(df.rates.values):
    Dic = json.loads((it[1]))
    df.set_value(it[0], 'rates1', Dic["1"])
    df.set_value(it[0], 'rates5', Dic["5"])
    
df.sort_values('ts').reset_index(drop=True)